.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-header pre {
  margin: 0;
}

.App-header code {
  font-size: calc(5px + 2vmin);
}
